<div class="gridPrincipal">
      <div class="backcolor">
        <img src="assets/MUNICIPALIDAD.gif"/>
      </div>

    <div class="gridLogin">
      <div class="gridEscudo">
        <img src="assets/Escudo.png" class="imgEscudoM"/>
      </div>
      <div class="gridFormulario">
        <form (ngSubmit)="onSubmit()">
          <div class="">
            <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Usuario *"
                  class="txtLogin">
          </div>
          <div class="">
            <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Contraseña *"
                  class="txtLogin">
          </div>
          <div class="">
            <button type="submit"
                    class="btnLogin">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </div>

</div>
