<h1>
  Editar / Agregar héroe
  <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroeForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-6">
            <mat-label> Super heroe </mat-label>
            <input type="text" matInput required formControlName="superhero" />
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Alter Ego</mat-label>
            <input type="text" matInput required formControlName="alter_ego" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label> Primera Aparacion </mat-label>

            <input
              type="text"
              matInput
              required
              formControlName="first_appearance"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input type="text" matInput required formControlName="characters" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label> Creador</mat-label>
            <mat-select required="" formControlName="publisher">
              <!-- PARA AGARRAR EL VLAUE DE UN OPTION MANDAMOS A USAR EL [VALUE] Y COLOCAMOS SU ID -->
              <mat-option
                *ngFor="let publisher of publishers"
                [value]="publisher.id"
              >
                {{ publisher.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Foto Url</mat-label>
            <input type="text" matInput required formControlName="alt_img" />
          </mat-form-field>
        </form>

        <div class="flex justify-content-between">
          <button mat-flat-button color="warn">Borrar</button>




          <button mat-flat-button
           color="accent"
           (click)="onSubmit()">

            <mat-icon> save</mat-icon>
            Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">
    <img [src]="currentHero | heroImage" alt="Imagen del Heroe" matCardImage />
  </div>
</div>
