<div class="product-list">
  <h2>Lista de Productos</h2>
  <div class="product-grid">
    <mat-card class="product-card" *ngFor="let product of products">
      <mat-card-header>
        <div mat-card-avatar class="product-image">
          <img [src]="product.Images" alt="{{ product.Name }}">
        </div>
        <mat-card-title>{{ product.Name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="product-description">{{ product.Description }}</p>
        <p class="product-price">Precio: {{ product.Price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="editarProducto(product)">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-flat-button color="warn" (click)="eliminarProducto(product)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button mat-fab color="accent" class="add-button" (click)="nuevoProducto()">
  <mat-icon>add</mat-icon>
</button>
