<div class="footer">
  <div class="msps-contact">
    <div class="msps-contact-item">
      <i class="fa-solid fa-envelope"></i>
      <p>info@sanpedrosula.hn</p>
    </div>
    <div class="msps-contact-item">
      <i class="fa-solid fa-phone"></i>
      <p>+504 2552-1588</p>
    </div>
  </div>

  <div class="icons">
    <div class="social">
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="social">
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="social">
      <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="social">
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
</div>
