<nav class="bg-rose-950">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between py-4">
      <div class="flex items-center">
        <a href="#" class="text-white text-lg font-semibold mr-9  ">MyAnime</a>
      </div>
      <div class="flex-grow"></div>
      <div class="hidden md:flex space-x-2">
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg hover:bg-violet-600  " routerLink="/anime">Anime</button>
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg hover:bg-violet-600" routerLink="/manga">Manga</button>
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg hover:bg-violet-600">Noticias</button>
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg" (click)="logOut()">Exit</button>
      </div>

      <div class="md:hidden">
        <button
          class="text-white focus:outline-none focus:text-white"
          aria-label="Toggle menu"
          (click)="toggleMenu()"
        >
          <svg viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6">
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 0 1 1-1h12a1 1 0 0 1 0 2H4a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 0 1 0 2H4a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 0 1 0 2H4a1 1 0 0 1-1-1z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="md:hidden" [class.hidden]="!isMenuOpen">
      <div class="flex flex-col space-y-2">
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg" routerLink="/anime">Anime</button>
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg" routerLink="/manga">Manga</button>
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg">Noticias</button>
        <button class="bg-red-700 text-white py-2 px-4 rounded-lg" (click)="logOut()">Exit</button>
      </div>
    </div>
  </div>
</nav>

