<div class="custom-select">
  <h2>Generos:</h2>
  <select [(ngModel)]="selectedGenreId" (change)="filterByGenre(selectedGenreId)">
    <option value="">Todos los géneros</option>
    <option *ngFor="let genre of genres" [value]="genre.mal_id">{{ genre.name }}</option>
  </select>
</div>

<div class="anime-grid">
  <app-card *ngFor="let anime of animeList | slice: 0:20" [animes]="anime" class="card"></app-card>
</div>

<div class="pagination">
  <button (click)="previousPage()">Anterior</button>
  <span>{{ currentPage }}</span>
  <button (click)="nextPage()">Siguiente</button>
</div>
