.container{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
margin-top: 10px;
}

.color-sec{

  background-color: rgb(248, 228, 43);
}

.container button{

background-color:rgb(25, 21, 20) ;
color: white;
}
