<div class="anime-details-container">
  <div class="anime-details-card">
    <div class="anime-image">
      <img [src]="animeInfo?.data?.images?.['jpg']?.image_url" alt="Anime Image" />
    </div>

    <div class="anime-details">
      <h1 class="anime-title">{{ animeInfo?.data?.title }}</h1>
      <p class="anime-synopsis">{{ animeInfo?.data?.synopsis }}</p>

      <div class="anime-info-row">
        <span class="anime-info-label">Episodios:</span>
        <span class="anime-info-value">{{ animeInfo?.data?.episodes }}</span>
      </div>

      <div class="anime-info-section">
        <h2 class="anime-section-title">Fecha de Emisión:</h2>
        <p class="anime-info-value">{{ animeInfo?.data?.aired?.string }}</p>
      </div>

      <div class="anime-info-section">
        <h2 class="anime-section-title">Géneros:</h2>
        <div class="anime-genres">
          <span *ngFor="let genre of animeInfo?.data?.genres" class="anime-genre">{{ genre.name }}</span>
        </div>
      </div>

      <div *ngIf="animeInfo?.data?.trailer?.youtube_id" class="anime-trailer-section">
        <h2 class="anime-section-title">Trailer:</h2>
        <div class="anime-trailer">
          <iframe
            [src]="animeInfo?.safeTrailerUrl"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div *ngIf="!animeInfo?.data?.trailer?.youtube_id" class="anime-no-trailer-section">
        <h2 class="anime-section-title">Trailer no disponible.</h2>
      </div>
    </div>

    <div class="anime-episodes-section">
      <h2 class="anime-section-title">Lista de Episodios:</h2>
      <ul class="anime-episode-list">
        <li *ngFor="let episode of visibleEpisodes" class="anime-episode">
          <a href="{{ episode.url }}">
            <img [src]="episode.images.jpg.image_url" alt="Episode Image" />
            <p class="episode-title">{{ episode.title }}</p>
            <p class="episode-number"> {{ episode.episode }}</p>
          </a>
        </li>
      </ul>
      <button *ngIf="showMoreButton" class="show-more-button" (click)="showMoreEpisodes()">Ver más episodios</button>
    </div>

    <button class="anime-back-button" (click)="goBack()">Regresar</button>
  </div>
</div>
