<div class="bg-white shadow-lg rounded-lg p-6">
  <div class="mb-4">
    <h3 class="text-xl font-bold mb-2">Image:</h3>
    <img
      class="rounded-lg"
      [src]="animeInfo?.data?.images?.['jpg']?.image_url"
      alt="Anime Image"
    />
  </div>

  <h2 class="text-3xl font-bold mb-4">{{ animeInfo?.data?.title }}</h2>
  <p class="text-gray-600 mb-6">{{ animeInfo?.data?.synopsis }}</p>

  <div class="flex items-center mb-4">
    <span class="font-bold mr-2">Episodes:</span>
    <span class="text-gray-700">{{ animeInfo?.data?.episodes }}</span>
  </div>

  <div class="border-t mt-6 pt-4">
    <h3 class="text-xl font-bold mb-2">Aired:</h3>
    <p class="text-gray-700">{{ animeInfo?.data?.aired?.string }}</p>
  </div>

  <h3 class="text-xl font-bold mt-6 mb-2">Genres:</h3>
  <div class="flex flex-wrap mb-4">
    <span
      class="inline-block bg-red-700 text-white px-3 py-1 text-sm font-semibold rounded-full mr-2 mb-2"
      *ngFor="let genre of animeInfo?.data?.genres"
    >
      {{ genre.name }}
    </span>
  </div>

  <div *ngIf="animeInfo?.data?.trailer?.youtube_id" class="mb-4">
    <h3 class="text-xl font-bold mb-2">Trailer:</h3>
    <div class="aspect-w-16 aspect-h-9">
      <iframe
        class="rounded-lg"
        width="560"
        height="315"
        [src]="animeInfo?.safeTrailerUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div *ngIf="!animeInfo?.data?.trailer?.youtube_id" class="text-xl font-bold mt-6 mb-2">
    No trailer available.
  </div>



  <button class="bg-red-700 text-white py-2 px-4 rounded-lg" (click)="goBack()">
    Regresar
  </button>
</div>
