<mat-sidenav-container fullscreen #containerall >
  <mat-sidenav
    #sidenav
    mode="push"
    [ngStyle]="{ width: '220px' }"
    class="sidenav-container-color"
  >
    <mat-toolbar class="sidenav-container-color">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="color-tool">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>Logout</button>
  </mat-toolbar>

  <div class="container-tema">
    <img class="background-image" src="assets/back.jpg" alt="" />
    <div class="content">
      <p>Rick and Morty API Example</p>
      <small>By Mass</small>
    </div>
  </div>

  <div class="container-list p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
