<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="wrapper-content ">


  <mat-tab label="Eventos">

    <div class="first-tab">
      <mat-card class="card colorA" *ngFor="let item of eventsItem">
        <mat-card-header>{{ item.label }}</mat-card-header>
        <img
          src="{{ item.icon }}"
        />
        <mat-card-content>
          <p>{{ item.p }}</p>
        </mat-card-content>
        <mat-card-actions >
          <button mat-raised-button [routerLink]="">Leer Mas..</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </mat-tab>




  <mat-tab label="Noticias" >

    <div class="first-tab">

      <mat-card class="card colorG" *ngFor="let item of noticesItems">
        <mat-card-header>{{item.label}}</mat-card-header>

        <div [ngClass]="item.icon"></div>

        <mat-card-content>
  <img src="{{item.icon}}"  alt="">
        </mat-card-content  >
       <p class="pj">
        {{ item.p }}

      </p>
        <mat-card-actions>
  <button mat-raised-button>{{item.URL}}</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </mat-tab>



  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
