<div class="container mx-auto">
  <div class="flex flex-col md:flex-row manga-details">

    <!-- Imagen del manga -->
    <div class="manga-image mb-4">
      <img [src]="manga.data.images['jpg'].image_url" alt="Manga Image" />
    </div>

    <!-- Información del manga -->
    <div class="manga-info">
      <h1 class="manga-title">{{ manga.data.title }}</h1>
      <h2 class="manga-subtitle">{{ manga.data.title_japanese }}</h2>
      <p class="manga-synopsis">{{ manga.data.synopsis }}</p>
      <div class="manga-genres">
        <span
          *ngFor="let genre of manga.data.genres"
          class="manga-genre"
        >
          {{ genre.name }}
        </span>
      </div>
      <div class="manga-details-row">
        <span class="manga-details-label">Estado:</span>
        <span class="manga-details-value">{{ manga.data.status }}</span>
      </div>
      <div class="manga-details-row">
        <span class="manga-details-label">Puntuación:</span>
        <span class="manga-details-value">{{ manga.data.score }}</span>
      </div>
      <div class="manga-details-row">
        <span class="manga-details-label">Demografía:</span>
        <span class="manga-details-value">{{ manga.data.demographics[0].name }}</span>
      </div>
      <div class="manga-details-row">
        <span class="manga-details-label">Autor:</span>
        <span class="manga-details-value">{{ manga.data.authors[0].name }}</span>
      </div>
      <button class="action-button" (click)="goBack()">Volver</button>
    </div>

  </div>
</div>
