.nav-links li{
  display: inline-block;
  margin: 10px;
  font-size: 11px;

}


li:nth-child(1):hover{
  color: #008d00;
 cursor: pointer;
}

li:nth-child(1)::after {
  background: blueviolet;
}

li:nth-child(2):hover{
  color: #ffca00;
  cursor: pointer;
}


li:nth-child(3):hover{
  color: #cc0000;
  cursor: pointer;
}

li:nth-child(4):hover{
  color: #008d00;
  cursor: pointer;
}

li:nth-child(5):hover{
  color: #ffca00;
  cursor: pointer;
}

li:nth-child(6):hover{
  color: #cc0000;
  cursor: pointer;
}

li:nth-child(7):hover{
  color: #008d00;
  cursor: pointer;
}

li:nth-child(8):hover{
  color: #ffca00;
  cursor: pointer;
}

.co{
background-color: #008d00;
height: 10px;
transition: all ease .3s;
}

.co:hover{
cursor: pointer;
height: 20px;
border-start-start-radius: 10px;

}
