<div class="flex justify-center mt-8">
  <div class="max-w-2xl w-full">
    <form
      [formGroup]="formulario"
      class="bg-white shadow-lg rounded-lg p-6 space-y-6"
    >
      <!-- Primera fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Identidad -->
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Identidad</label
          >
          <input
            formControlName="identidad"
            type="text"
            placeholder="Identidad"
            class="input-field w-full"
          />
        </div>

        <!-- Campo Nombre Completo -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="nombreCompleto"
            >Nombre Completo</label
          >
          <input
            formControlName="nombrecompleto"
            type="text"
            id="nombreCompleto"
            placeholder="Nombre Completo"
            class="input-field"
          />
        </div>
      </div>

      <!-- Segunda fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Correo -->
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="correo"
            >Correo</label
          >
          <input
            formControlName="correo"
            type="email"
            id="correo"
            placeholder="Correo"
            class="input-field"
          />
        </div>

        <!-- Campo Género -->
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="genero"
            >Género</label
          >
          <select formControlName="genero" id="genero" class="input-field">
            <option *ngFor="let item of generos" [value]="item.desc">
              {{ item.desc }}
            </option>
          </select>
        </div>
      </div>

      <!-- Tercera fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Estado Civil -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="estadoCivil"
            >Estado Civil</label
          >
          <select
            formControlName="estcivil"
            id="estadoCivil"
            class="input-field"
          >
            <option value="" *ngFor="let item of estados" [value]="item.id">
              {{ item.desc }}
            </option>
          </select>
        </div>

        <!-- Campo Teléfono -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="telefono"
            >Teléfono</label
          >
          <input
            formControlName="telefono"
            type="tel"
            id="telefono"
            placeholder="Teléfono"
            class="input-field"
          />
        </div>
      </div>

      <!-- Cuarta fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Gerencia -->

        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="gere"
            >Gerencias</label
          >
          <select formControlName="idgerencia" id="gere" class="input-field">
            <option
              *ngFor="let gerencias of Gerencias"
              [value]="gerencias.idgerencia"
            >
              {{ gerencias.descripcion }}
            </option>
          </select>
        </div>

        <!-- Campo Tipo de Sangre -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="tipoSangre"
            >Tipo de Sangre</label
          >
          <input
            formControlName="tiposangre"
            type="text"
            id="tipoSangre"
            placeholder="Tipo de Sangre"
            class="input-field"
          />
        </div>
      </div>

      <!-- Quinta fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Fecha de Nacimiento -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="fechaNacimiento"
            >Fecha de Nacimiento</label
          >
          <input
            formControlName="fechanac"
            type="date"
            id="fechaNacimiento"
            placeholder="Fecha de Nacimiento"
            class="input-field"
          />
        </div>

        <!-- Campo ID Usuario -->
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="users"
            >Usuarios</label
          >
          <select formControlName="idusuario" id="users" class="input-field">
            <option *ngFor="let usu of Usuarios" [value]="usu.id">
              {{ usu.usuario }}
            </option>
          </select>
        </div>
      </div>

      <!-- Sexta fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Dirección -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="direccion"
            >Dirección</label
          >
          <select
            formControlName="iddireccion"
            id="direccion"
            class="input-field"
          >
            <option *ngFor="let direccion of direcLis" [value]="direccion.id">
              {{ direccion.sector }}, {{ direccion.colonia }},
              {{ direccion.calle }}
            </option>
          </select>
        </div>

        <!-- Campo Cargo -->
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="cargo"
            >Cargo</label
          >
          <select formControlName="idcargo" id="cargo" class="input-field">
            <option *ngFor="let cargo of cargos" [value]="cargo.idcargo">
              {{ cargo.descripcionCargo }}
            </option>
          </select>
        </div>
      </div>

      <!-- Séptima fila de campos -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Campo Contrato -->
        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="contrato"
            >Contrato</label
          >
          <select
            formControlName="idcontrato"
            id="contrato"
            class="input-field"
          >
            <option
              *ngFor="let contrato of contratos"
              [value]="contrato.idcontrato"
            >
              {{ contrato.tipocontrato }}
            </option>
          </select>
        </div>
        <!-- Campo Fecha de Entrada -->

        <div>
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="fechaIn"
            >Fecha de Ingreso</label
          >
          <input
            formControlName="fechaIngreso"
            type="date"
            id="fechaIn"
            placeholder="Fecha de Ingreso"
            class="input-field"
          />
        </div>
      </div>

      <!-- Botón Guardar -->

      <!-- Mostrar errores -->
      <div *ngIf="errores.length > 0" class="errores">
        <ul>
          <li *ngFor="let error of errores">{{ error }}</li>
        </ul>
      </div>

      <!-- Mostrar respuesta del servidor -->
      <div *ngIf="respuestaServidor" class="respuesta-servidor">
        {{ respuestaServidor }}
      </div>
    </form>
  </div>
</div>

<div class="flex justify-center mt-8 space-y-6">
  <div class="max-w-2xl w-full bg-white shadow-lg rounded-lg p-6 space-y-4">
    <div *ngIf="empleadoImagen" class="flex justify-center">
      <img
        [src]="empleadoImagen"
        alt="Imagen del empleado"
        class="max-w-full h-auto"
        style="max-height: 300px"
      />
    </div>
    <form
      [formGroup]="imgForm"
      (ngSubmit)="uploadImageByEmpleadoId(formulario.get('idempleado')?.value,false,true)"
      class="space-y-4"
    >
      <div class="flex justify-center" >
        <label for="imagen" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">
          Seleccionar imagen
        </label>
        <input type="file" id="imagen" formControlName="imagen" accept="image/*" class="hidden" />
      </div>
      <!-- <button
        type="button"
        class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg focus:outline-none"
      >
        Subir Imagen
      </button> -->
    </form>
  </div>
</div>

<div class="text-center">
  <button
    (click)="aggEmpleado()"
    class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg focus:outline-none"
  >
    Guardar
  </button>
</div>
