/* .escudoMain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.imgLobby{
  width: 500px;
} */

.lblTitulo{
  color:white;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-top: 20px;
}

.gridImg{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

