<h2>Buscar Empleado por Nombre</h2>

<div class="mb-4">
  <label for="nombreBusqueda" class="block text-sm font-medium text-gray-700">Nombre del Empleado</label>
  <input type="text" id="nombreBusqueda" name="nombreBusqueda" [(ngModel)]="nombreBusqueda"
         (input)="buscarEmpleadosPorNombre()"
         placeholder="Ingresa el nombre del empleado"
         class="mt-1 px-4 py-2 block w-full rounded-md border border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

  <ul *ngIf="sugerencias.length > 0" class="mt-2 border border-gray-300 rounded-md shadow-lg max-h-48 overflow-auto">
    <li *ngFor="let sugerencia of sugerencias" class="px-4 py-2 cursor-pointer"
        (click)="seleccionarSugerencia(sugerencia)">
      {{ sugerencia.nombrecompleto }}
    </li>
  </ul>
</div>

<button (click)="buscarEmpleadosPorNombre()"
        class="px-4 py-2 bg-indigo-600 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
  Buscar
</button>
