<div class="wrapper-content">
  <div class="tittle-content">
    <h1>PRÓXIMOS EVENTOS,NOTICIAS Y OBRAS</h1>
  </div>

  <app-carrusel></app-carrusel>

  <div class="cth">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/rPoEg3b4T_w?controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
      allowfullscreen
    ></iframe>
    <div class="content-cth">
      <h1>TeleHuertos</h1>
      <p>
        TELEHUERTOS es solo una parte de los nuevos programas de emprendimientos
        de la municipalidad de San Pedro Sula.
      </p>
      <button mat-raised-button>Visitar</button>
    </div>
  </div>

  <div class="yt-p">
    <h1>Tenemos el cambio en nuestras manos actuemos para lograrlo!</h1>
  </div>

  <iframe
    class="maps"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.6086287429953!2d-88.02805712387747!3d15.505469854281477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f665b4491aa852b%3A0xbaa02f9b52ebd775!2sMunicipalidad%20de%20San%20Pedro%20Sula%2C%20Cort%C3%A9s!5e0!3m2!1ses!2shn!4v1685644275611!5m2!1ses!2shn"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
